*{
    padding: 0;
    margin: 0;
}

nav{
    height: 7vh;
    background-color: #818CF8;
    padding: 15px;
}

nav a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 15px;
    color: white;
    display: inline-block;
}

.item-active{
    color: #3730A3;
    font-weight: 600;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

h1{
    padding-top: 15px;
    font-size: 2rem;
    color: #6366F1;
}

input{
    width: 250px;
    margin: auto;
    height: 5vh;
    padding: 20px;
    margin-top: 15px;
}

label{
    margin: auto;
    font-size: 1.3rem;
    padding-top: 20px;
    
}
button{
    width: 250px;
    margin: auto;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #6366F1;
    font-size: 1.4rem;
}

.output-msg{
    font-size: 2.4rem;
    color: #4338CA;
    margin-top: 15px;
}

footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 50px;
}
footer p{
    font-size: 1.8rem;
    padding: 20px 5px;
}
footer img{
    width: 30px;
    display: inline-block;
    padding: 0px 30px;
}
