*{
    padding: 0;
    margin: 0;
}

nav{
    height: 7vh;
    background-color: #818CF8;
    padding: 15px;
}

nav a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 15px;
    color: white;
    display: inline-block;
}

.item-active{
    color: #3730A3;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    padding-top: 15px;
    font-size: 2rem;
    color: #6366F1;
}

button{
    width: 250px;
    margin: auto;
    padding: 15px 20px;
    margin-top: 40px;
    border-radius: 7px;
    background-color: #6366F1;
    font-size: 1.4rem;
}

.output-msg{
    font-size: 2.4rem;
    color: #4338CA;
    margin-top: 15px;
}

p{
    font-size: 1.4rem;
    padding-top: 30px;
}

input{
    width: 40px;
    height: 15px;
}    

label{
    padding-top: 20px;
}
